:root {
    --navFooterCol: darkgreen;
    --mainCol: #FFAE2D;
    --secondCol: #E8D1B3;
}

main {
    margin-bottom: 100px;
    background-color: var(--mainCol);
    z-index: 2;
}

nav {
    background-color: var(--navFooterCol);
    padding: 15px;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
}

li a {
    padding: 10px;
    color: white;
}

.flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.video {
    justify-content: center;
    padding: 50px;
    display: flex;
}

h1 {
    font-size: 3rem;
    font-weight: normal;
    text-align: center;
    padding: 2rem;
    margin: 0;
    background-color: var(--secondCol);
}

h2, h3 {
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
    margin: 0;
}

ul {
    margin: 0;
    display: flex;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
}

body {
    color: black;
    font-size: 120%;
    font-family: sans-serif;
    line-height: 1.4;
    margin: 0;
    background-color: var(--mainCol);
}

.unsereArten {
    border: 1px solid black;
    display: flex;
    justify-content: left;
    padding: 5px;
    background-color: var(--secondCol);
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.hintergrund {
    margin-top: 50px;
    height: 150px;
    background-image: url("wood.jpg");
    background-size: cover;
    border-style: solid;
    border-width: 0 0 0 0;
    padding: 0 0 0 0;
    color: white;
}

.hintergrund a:hover {
    color: var(--mainCol);
}

a:visited {
    color: var(--secondCol);
}

.box {
    display: flex;
    float: left;
    box-sizing: border-box;
    width: 35%;
    margin-right: 2%;
    padding: 65px;
}

.tabelle {
    box-sizing: border-box;
    font-size: 1rem;
    border-collapse: collapse;
    width: 100%;
}

table.tabelle th {
    background-color: var(--mainCol);
    text-align: left;
}

.tabelle th,td {
    padding: 12px 16px;
}

table.tabelle tbody tr {
    border-bottom: 1px solid black;
    background-color: var(--secondCol);
}

.mainCol {
    background-color: var(--secondCol);
}

.formFlex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: -1;
}
