/* Anordnung der Fragen */
.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-auto-flow: row;
    grid-template-areas:
    ". . . one . . ."
    ". eight . . . two ."
    ". . . . . . ."
    "seven . . nine . . three"
    ". . . . . . ."
    ". six . . . four ."
    ". . . five . . .";
    width: 900px;
    height: 900px;
    background-color: black;
    border-radius: 50%;
    padding: 3%;
    margin: 3vh;
}
.one {
    grid-area: one;
}
.two { grid-area: two; }
.three { grid-area: three; }
.four { grid-area: four; }
.five { grid-area: five; }
.six { grid-area: six; }
.seven { grid-area: seven; }
.eight { grid-area: eight; }
.nine { grid-area: nine; }
.flex {
    display: flex;
    justify-content: center;
    height: 35px;
}
.game {
    display: flex;
    justify-content: center;
}
.buttons {
    display: flex;
    justify-content: center;
}
.level {
    width: 128px;
    height: 128px;
    display: flex;
    background-color: grey;
    align-content: center;
    border-radius: 50%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}
p {
    margin: 3px 7px;
}
.lifeContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "lifeThree lifeTwo lifeOne";
}

.lifeThree {
    grid-area: lifeThree;
    background-color: darkgreen;
    height: 10px;
    border-radius: 5px;
    width: 30px;
    margin: 5px;
}

.lifeTwo {
    grid-area: lifeTwo;
    background-color: darkgreen;
    height: 10px;
    border-radius: 5px;
    margin: 5px;
    width: 30px;
}

.lifeOne {
    grid-area: lifeOne;
    background-color: darkgreen;
    height: 10px;
    width: 30px;
    margin: 5px;
    border-radius: 5px;
}
.flexContainer {
    padding: 10px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}
h2 {
    justify-content: center;
}
